#banner {
	width: 100% ;
	position: relative;
}



#body1 {
	position: relative;
	width: 100%;
	background: #1c4928;
	background-image: url(https://images.unsplash.com/photo-1601370690183-1c7796ecec61?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D&w=1000&q=80);
	display: grid;
 	grid-gap: 1rem;
  	grid-template-areas:
   			 "header header header"
			 "nav nav nav"
   			 "main main main"
    		 "footer footer footer"
}

.o-header{
 grid-area: header;
 font-size: 30px;
 color: #aff187;
 border: 2px;
 width: 100%;
 background: #143b2985;
 padding-top: 20px;
 margin-left: -8px;
 display: inline;
 align-items: center;
}

.o-nav {
	grid-area: nav;
}

.o-main{
	grid-area: main;
	margin: 3% 0 10% 0;
}

.o-footer{
	position: absolute;
	grid-area: footer;
bottom: 0;
width: 100%;
	
}

.header__caixa {
	padding-left: 8%;
	padding-top: 20px;
	column-gap: 50px;
	display: inline-flex;
	margin: auto;
}

.header__titulo {
	padding-top: 10px;
	padding-left: 20px;
}

.header__navegacao{
	display: flex;
	flex-direction:column;
	column-gap: 50px;
	width: 100%;
}


nav li {
	padding-left: 15%;
	padding-right: 12%;
	flex-direction: row;
	display: inline-grid;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

#li1{
	background: #2b1edb;
	padding: 1.1% 13.2% ;
	border-radius: 8px;
}
#li1:hover{
	background: #0b0d782e;
}

#li2{
	background: #39d346;
	padding: 1.1% 13.2% ;
	border-radius: 8px;
}

#li2:hover{
	background: #0b0d782e;
}

#li3{
	background:#f9e804;
	padding: 1.1% 13.2% ;
	border-radius: 8px;
}

#li3:hover{
	background:#0b0d782e;
}

.principal{
	padding: 30px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #281772;
}

.itens {
	font-style: italic
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	align-items: center;
	align-self: flex-end;
	text-align: center;
}

.copyright {
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;

}