#banner {
	width:100%;
}

.principal{
	background: #93cea3;
	padding: 30px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #281772;
}

.itens {
	font-style: italic
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}